body {
  background-image: url(../img/design-space-paper-textured-background_53876-42312.webp);
  background-repeat: no-repeat;
  background-size: cover;

  font-family: $secondary-font;
}

* {
  cursor: $cursor;
  overflow: hidden;
}

.button {
  align-self: center;
  margin-top: 15px;
  background-color: #fff;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  color: $black;
  font-family: $secondary-font;
  font-size: 1.5rem;
  padding: 0.45rem 1rem;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }

  &:focus {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
  }
}

.swal {
  margin: 10px;
}

.black.swal {
  color: $black;
  cursor: $cursor;
}

.animate__animated.animate__bounceOut {
  --animate-duration: 500ms;
}
