.fieldy {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid black;
  width: calc(100% / 3);
  height: 10vw;
  font-size: 48px;
}

.field {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 30vw;
  border: 1px solid black;
}

.title {
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.active-player {
  color: red;
}
