.gameDiv, .gameDivBot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 35px;
}

.fieldy, .fieldyBot {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid rgba(0, 0, 0, 0.359);
  width: calc(100% / 3);
  max-height: 317px;
  height: 7vw;
  font-size: 3rem;
  background-color: rgba(197, 197, 197, 0.2);
  @media screen and (max-width: 480px) {
    font-size: 2rem;
    height: 20vw;
  }
  @media screen and (min-width: 1200px) {
    font-size: 7rem;
  }
}

.field, .fieldBot {
  display: flex;
  flex-wrap: wrap;
  margin: 15px auto;
  width: 23vw;
  max-width: 950px;
  border: 1px solid rgba(0, 0, 0, 0.416);
  transform: translateY(-45px);
  border-radius: 4px;
  overflow: hidden;
  @media screen and (max-width: 480px) {
    width: 60vw;
  }
}

.title {
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.player-name {
  font-family: main-font, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin-block: 25px;

  transition: font-size 250ms ease-in-out;
}

.active-player {
  color: red;
  font-size: 2rem;
}

.buttons {
  display: flex;
  gap: 15px;
  transform: translateY(-45px);
  padding-bottom: 20px;
}
