.menu {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding-bottom: 20px;

  &-label {
    position: relative;
    font-family: $secondary-font;
    font-size: 2rem;
    color: $black;
  }

  &-input {
    display: block;
    width: 60vw;
    padding: 10px;
    border-radius: 2px;
    outline: none;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    font-family: $secondary-font;
    font-size: 1.5rem;

    &:focus,
    &:hover {
      outline: 1px solid $black;
    }
  }
}

.title {
  font-family: $main-font;
  font-size: 4rem;
  font-weight: 400;
  color: rgb(8, 8, 24);
}
